dashboard/nodered-dashboard.json
[
    {
        "id": "eb3baa2c444a5ca0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "604f5bf06b83f647",
        "type": "mqtt-broker",
        "name": "hivemq test",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef4b8c711d2494e1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ff3c3b7472041bdf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2ca262c924e7d854",
        "type": "ui_group",
        "name": "Environment",
        "tab": "ef4b8c711d2494e1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2c5f569b0e4aa75",
        "type": "ui_group",
        "name": "Emergency",
        "tab": "ef4b8c711d2494e1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5359c71b8b237851",
        "type": "ui_group",
        "name": "Tissue Dispenser",
        "tab": "ef4b8c711d2494e1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7b6dfa7ff9c007a",
        "type": "ui_gauge",
        "z": "eb3baa2c444a5ca0",
        "name": "",
        "group": "2ca262c924e7d854",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-150",
        "max": "150",
        "colors": [
            "#0000b5",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "5c64063a488a4bc3",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "temperature",
        "topic": "/measurements/hospital-1/room-1/temperature",
        "qos": "1",
        "datatype": "utf8",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "c7b6dfa7ff9c007a"
            ]
        ]
    },
    {
        "id": "f9e273afc50a772d",
        "type": "ui_gauge",
        "z": "eb3baa2c444a5ca0",
        "name": "",
        "group": "2ca262c924e7d854",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2c5896ba0312a49",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "humidity",
        "topic": "/measurements/hospital-1/room-1/humidity",
        "qos": "1",
        "datatype": "utf8",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f9e273afc50a772d"
            ]
        ]
    },
    {
        "id": "171e8832873b3312",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "pollution",
        "topic": "/measurements/hospital-1/room-1/pollution",
        "qos": "1",
        "datatype": "utf8",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "48f67038a07dec6b"
            ]
        ]
    },
    {
        "id": "48f67038a07dec6b",
        "type": "ui_gauge",
        "z": "eb3baa2c444a5ca0",
        "name": "",
        "group": "2ca262c924e7d854",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pollution",
        "label": "ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "5ae1281846134360",
        "type": "ui_button",
        "z": "eb3baa2c444a5ca0",
        "name": "acknowledge",
        "group": "f2c5f569b0e4aa75",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Acknowledge",
        "tooltip": "Acknowledge Emergency",
        "color": "purple",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "/events/hospital-1/room-1/emergency-acknowledge",
        "topicType": "msg",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "5237d115324cc337"
            ]
        ]
    },
    {
        "id": "5237d115324cc337",
        "type": "mqtt out",
        "z": "eb3baa2c444a5ca0",
        "name": "emergency-acknowledge",
        "topic": "/events/hospital-1/room-1/emergency-acknowledge",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "604f5bf06b83f647",
        "x": 430,
        "y": 700,
        "wires": []
    },
    {
        "id": "baa126f0356d6ff8",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "emergency-level",
        "topic": "/measurments/hospital-1/room-1/emergency-level",
        "qos": "1",
        "datatype": "utf8",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "b2ffc88f8d708ffd"
            ]
        ]
    },
    {
        "id": "b2ffc88f8d708ffd",
        "type": "ui_gauge",
        "z": "eb3baa2c444a5ca0",
        "name": "",
        "group": "f2c5f569b0e4aa75",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "2",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 760,
        "wires": []
    },
    {
        "id": "59f413c6aca3aa82",
        "type": "ui_button",
        "z": "eb3baa2c444a5ca0",
        "name": "override-on",
        "group": "2ca262c924e7d854",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Override On",
        "tooltip": "",
        "color": "navy",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "/events/hospital-1/room-1/override-exhaust-fan",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "fc152f7df93e5ad4"
            ]
        ]
    },
    {
        "id": "fc152f7df93e5ad4",
        "type": "mqtt out",
        "z": "eb3baa2c444a5ca0",
        "name": "override-exhaust-fan",
        "topic": "/events/hospital-1/room-1/override-exhaust-fan",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "604f5bf06b83f647",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "957bd7e1bd5f6225",
        "type": "ui_button",
        "z": "eb3baa2c444a5ca0",
        "name": "override-off",
        "group": "2ca262c924e7d854",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Override Off",
        "tooltip": "",
        "color": "red",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "/events/hospital-1/room-1/override-exhaust-fan",
        "topicType": "msg",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "fc152f7df93e5ad4"
            ]
        ]
    },
    {
        "id": "d2814176a53a01b2",
        "type": "ui_button",
        "z": "eb3baa2c444a5ca0",
        "name": "clear-override",
        "group": "2ca262c924e7d854",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Override",
        "tooltip": "",
        "color": "orange",
        "bgcolor": "grey",
        "className": "",
        "icon": "",
        "payload": "x",
        "payloadType": "str",
        "topic": "/events/hospital-1/room-1/override-exhaust-fan",
        "topicType": "msg",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "fc152f7df93e5ad4"
            ]
        ]
    },
    {
        "id": "212175ce24d80935",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "exhaust-fan",
        "topic": "/states/hospital-1/room-1/exhaust-fan",
        "qos": "1",
        "datatype": "utf8",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "ed56947d99b8820e"
            ]
        ]
    },
    {
        "id": "ed56947d99b8820e",
        "type": "ui_text",
        "z": "eb3baa2c444a5ca0",
        "group": "2ca262c924e7d854",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "exhaust-fan",
        "label": "Exhaust Fan",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "33f7bf30a72f0387",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "tissue-dispenser",
        "topic": "/states/hospital-1/room-1/tissue-dispenser",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 40,
        "wires": [
            [
                "9db7914349afb5e7"
            ]
        ]
    },
    {
        "id": "9db7914349afb5e7",
        "type": "ui_text",
        "z": "eb3baa2c444a5ca0",
        "group": "5359c71b8b237851",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "99b3e46d4e6926e0",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "dispensed-tissue",
        "topic": "/measurements/hospital-1/room-1/dispensed-tissue",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "58a999fcc4a3d695"
            ]
        ]
    },
    {
        "id": "58a999fcc4a3d695",
        "type": "ui_text",
        "z": "eb3baa2c444a5ca0",
        "group": "5359c71b8b237851",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dispensed Tissue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "1cf0e8fa5466cff9",
        "type": "mqtt in",
        "z": "eb3baa2c444a5ca0",
        "name": "dispensed-tissue-limit",
        "topic": "/measurements/hospital-1/room-1/dispensed-tissue-limit",
        "qos": "1",
        "datatype": "utf8",
        "broker": "604f5bf06b83f647",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "3f9a3e9c8101301c"
            ]
        ]
    },
    {
        "id": "3f9a3e9c8101301c",
        "type": "ui_text",
        "z": "eb3baa2c444a5ca0",
        "group": "5359c71b8b237851",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dispensed Tissue Limit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 160,
        "wires": []
    }
]